@page "/Admin/Controlpanel"
@model ControlPanelModel
@{
    Layout = "../Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<p>Admin Control Panel.</p>
<br />
<br />
<br />


<p> Please <a href="/Identity/Account/Login">Login</a>/<a href="/Identity/Account/Register">Register</a></p>

