@page "/CreateOpportunity"
@model Outreach.Areas.Consoles.Pages.Content.Tools.Opportunities.CreateOpportunities.CreateOpportunitiesModel
@{
    Layout = "/Areas/Consoles/Pages/Shared/_LayoutProfileLight.cshtml";
}


<!-- summernote -->
<link rel="stylesheet" href="../../plugins/summernote/summernote-bs4.min.css">
<!-- SimpleMDE -->
<link rel="stylesheet" href="../../plugins/simplemde/simplemde.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create/Edit Opportunity</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Create/Edit Opportunity</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"></h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12">

                                <div class="card card-default">
                                    <div class="card-body p-0">
                                        <div class="bs-stepper">


                                            <div class="bs-stepper-header" role="tablist">


                                                <div class="step" data-target="#intros-part">
                                                    <button type="button" class="step-trigger" role="tab" aria-controls="intros-part" id="intros-part-trigger">
                                                        <span class="bs-stepper-circle">1</span>
                                                        <span class="bs-stepper-label">Introduction</span>
                                                    </button>
                                                </div>


                                                <div class="line"></div>


                                                <div class="step" data-target="#details-part">
                                                    <button type="button" class="step-trigger" role="tab" aria-controls="details-part" id="details-part-trigger">
                                                        <span class="bs-stepper-circle">2</span>
                                                        <span class="bs-stepper-label">Information</span>
                                                    </button>
                                                </div>
                                            </div>



                                            <div class="bs-stepper-content">


                                                <div id="intros-part" class="content" role="tabpanel" aria-labelledby="intros-part-trigger">


                                                    <form id="account" method="post">

                                                        <div class="mb-3">
                                                            <h6>Opportunity Name:</h6>
                                                            <input type="text" class="form-control" placeholder="" name="opptitle" value="">
                                                        </div>
                                                        <br />

@*                                                        <div class="mb-3">
                                                            <h6>Inperson or online?</h6>
                                                            <div class="form-group">
                                                                <select class="form-control select2bs4" style="width: 100%;">
                                                                    <option selected="selected">Inperson</option>
                                                                    <option>Online</option>
                                                                </select>
                                                                <p>We will ask for either address or any required links later in the form</p>
                                                            </div>
                                                        </div>
                                                        <br />*@

                                                        <div class="mb-3">
                                                            <h6>One time or reoccuring?</h6>
                                                            <div class="form-group">
                                                                <select class="form-control select2bs4" style="width: 100%;">
                                                                    <option selected="selected">One time</option>
                                                                    <option>Reoccuring</option>
                                                                </select>
                                                                <p>We will ask for either date and time or date range later in the form</p>
                                                            </div>
                                                        </div>
                                                        <br />

                                                        <div class="mb-3">
                                                            <h6>Description:</h6>
                                                            <textarea class="form-control" id="summernote" rows="5" name="oppdesc">
                                                                Place <em>some</em> <u>text</u> <strong>here</strong>
                                                                </textarea>
                                                            <p>This is what people will rely on when viewing your opportunity. You can always change this later!</p>
                                                        </div>

                                                        @*                                                            <div class="mb-3">
                                                        <h6>Timeframe:</h6>
                                                        <div class="input-group">
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control float-right" id="reservationtime">
                                                        </div>
                                                        <p>What date and time does your first opportunity start and last one end</p>
                                                        </div>

                                                        <div class="justify-content-center">
                                                            <div class="g-recaptcha" data-sitekey="6Le8jJojAAAAAE6DrIJcVv0H5htZ3S_CKBwBMmSX"></div>
                                                        </div>*@
                                                        <br />

                                                        <!-- Submit button -->
                                                    </form>


                                                    <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                                                </div>


                                                <div id="details-part" class="content" role="tabpanel" aria-labelledby="details-part-trigger">


                                                    <form id="account" method="post">

                                                        <div class="mb-3">
                                                            <h6>Address</h6>
                                                            <input type="text" class="form-control" placeholder="" name="opptitle" value="">
                                                        </div>
                                                        <br />

                                                        <div class="mb-3">
                                                            <h6>Inperson or online?</h6>
                                                            <div class="form-group">
                                                                <select class="form-control select2bs4" style="width: 100%;">
                                                                    <option selected="selected">Inperson</option>
                                                                    <option>Online</option>
                                                                </select>
                                                                <p>We will ask for either address or any required links later in the form</p>
                                                            </div>
                                                        </div>
                                                        <br />

                                                        <div class="mb-3">
                                                            <h6>One time or reoccuring?</h6>
                                                            <div class="form-group">
                                                                <select class="form-control select2bs4" style="width: 100%;">
                                                                    <option selected="selected">One time</option>
                                                                    <option>Reoccuring</option>
                                                                </select>
                                                                <p>We will ask for either date and time or date range later in the form</p>
                                                            </div>
                                                        </div>
                                                        <br />

                                                        <div class="mb-3">
                                                            <h6>Description:</h6>
                                                            <textarea class="form-control" id="summernote" rows="5" name="oppdesc">
                                                                Place <em>some</em> <u>text</u> <strong>here</strong>
                                                                </textarea>
                                                            <p>This is what people will rely on when viewing your opportunity. You can always change this later!</p>
                                                        </div>

                                                        @*                                                            <div class="mb-3">
                                                        <h6>Timeframe:</h6>
                                                        <div class="input-group">
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control float-right" id="reservationtime">
                                                        </div>
                                                        <p>What date and time does your first opportunity start and last one end</p>
                                                        </div>

                                                        <div class="justify-content-center">
                                                        <div class="g-recaptcha" data-sitekey="6Le8jJojAAAAAE6DrIJcVv0H5htZ3S_CKBwBMmSX"></div>
                                                        </div>*@
                                                        <br />

                                                        <!-- Submit button -->
                                                    </form>


                                                    <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    


                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <h3 class="text-primary"><i class="fas fa-paint-brush"></i> Outreach v3</h3>
                        <p class="text-muted">
                            This feature is still in developement, please report any bugs you find using our contact page! If there are persistent issues contact Maxwell Li directly
                        </p>
                        <br>
                        <div class="text-muted">
                            <p class="text-sm">
                                Client Company
                                <b class="d-block">Deveint Inc</b>
                            </p>
                            <p class="text-sm">
                                Project Leader
                                <b class="d-block">Tony Chicken</b>
                            </p>
                        </div>

                        <h5 class="mt-5 text-muted">Project files</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                            </li>
                        </ul>
                        <div class="text-center mt-5 mb-3">
                            <a href="#" class="btn btn-sm btn-primary">Report Bug</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
