@*@page
@model MyAffTest.Pages.HomePages.AboutModel

@{
    Layout = "../Shared/_Layout2.cshtml";
    ViewData["Title"] = "QR Hunts";
}


<h1>@ViewData["Title"]</h1> </br>

<p>Life is short, Let's have fun and work together. </p>
<img src="~/img/logo-header.png" />*@

@page "/About"
@model MyAffTest.Pages.HomePages.AboutModel
@{
    //Layout = "../Shared/_Layout2.cshtml";
    ViewData["Title"] = "About Us";
}

<h2>About My Affilliate</h2>

<div class="text-center">
    MyAffiliates landing Page
    @*<p> Please <a href="/Identity/Account/Login">Login</a>/<a href="/Identity/Account/Register">Register</a></p>*@
</div>
