@page "/Career"
@model CareerModel
@{
    //Layout = "Shared/_Layout2.cshtml";
    ViewData["Title"] = "Career";
}
 
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <br /><br /><br/>
    <h1>MyAffiliates is growing, we are hiring!</h1>
</div>
