@page "/Gallery"
@model MyAffTest.Pages.HomePages.GalleryModel 
@{
    ViewData["Title"] = "Gallery";
}
@*<h1>@ViewData["Title"]</h1>

<p>Gallery information is comming.</p>*@


<!-- Titlebar
================================================== -->
<section id="titlebar">
    <!-- Container -->
    <div class="container">

        <div class="eight columns">
            <h3 class="left">Gallery</h3>
        </div>

        <div class="eight columns">
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="#">Home</a></li>
                    <li>Gallery</li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- Container / End -->
</section>

<!-- Content -->
<div id="content">
    <div class="container">

        <div class="row">
            <div class="span12">
                <h4>Looking our photo gallery page?</h4>
                <p>Ucorpora photo gallery page ut molestie turpis, elementum tempor metus. Vestibulum non nibh porttitor, eleifend purus eu, pulvinar orci. Quisque a gravida lorem, eu lobortis magna. Nulla auctor urna quis facilisis pretium. Cras facilisis risus sed mauris gravida, id vestibulum erat dictum. Nam in ante massa. Integer ultricies libero lorem, egestas dictum augue aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</p>

                <p>Elementum tempor metus donec ut molestie turpis. Vestibulum non nibh porttitor, eleifend purus eu, pulvinar orci. Quisque a gravida lorem, eu lobortis magna. Nulla auctor urna quis facilisis pretium. Cras facilisis risus sed mauris gravida, id vestibulum erat dictum. Nam in ante massa. Integer ultricies libero lorem.</p>

                <div class="row">
                    <div class="span12">
                        <!-- portfolio filter -->
                        <ul id="portfolio-filter">
                            <li class="active"><a href="#" class="filter" data-filter="*">All</a></li>
                            <li><a href="#" class="filter" data-filter=".photography">Photography</a></li>
                            <li><a href="#" class="filter" data-filter=".architecture">Architecture</a></li>
                            <li><a href="#" class="filter" data-filter=".webdesign">Webdesign</a></li>
                            <li><a href="#" class="filter" data-filter=".technology">Thechnology</a></li>
                            <li><a href="#" class="filter" data-filter=".identity">Identity</a></li>
                        </ul>

                        <section class="row" id="portfolio-items">
                            <ul class="portfolio">

                                <li>
                                    <article class="span3 project" data-tags="photography">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/01.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="webdesign">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/02.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="photography,identity">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/03.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="identity,architecture">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/04.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="architecture,technology">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/05.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="technology,webdesign">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/06.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="architecture">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/07.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="identity,technology">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/08.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="webdesign, architecture">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/09.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="technology,webdesign">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/10.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="architecture,photography">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/11.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <li>
                                    <article class="span3 project" data-tags="technology,identity,architecture">
                                        <a href="#">
                                            <div class="square-1">
                                                <div class="img-container">
                                                    <img src="img/gallery/12.jpg" alt="">
                                                    <div class="img-bg-icon"></div>
                                                </div>
                                                <h3>Photo Ucorpora</h3>
                                                More description about photo
                                            </div>
                                        </a>
                                    </article>
                                </li>

                            </ul>
                        </section>

                        <!-- Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  