@page "/"
@model IndexModel
@{
    //Layout = "../Shared/_Layout2.cshtml";
    ViewData["Title"] = "Landing page";
} 

<h2>My Affilliate is a place you can share resources and have fun together.</h2> 
<br />
<br />
<br />
<br />
<br />

<div class="text-center">
    MyAffiliates landing Page
    @*<p> Please <a href="/Identity/Account/Login">Login</a>/<a href="/Identity/Account/Register">Register</a></p>*@
</div>  
