@page "/Job-create"
@model JobcreateModel
@{
    Layout = "../Shared/_Layout_LandingTEMPLATE.cshtml";
    ViewData["Title"] = "Job-create page";
}


<form method="post">

<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Job Create</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Job Create</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->



<!-- Job Detail Start -->

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <h3 class="mb-3">Create Your Opportunity</h3>
                <div class="d-flex align-items-center mb-5">
                    
                    <img class="flex-shrink-0 img-fluid border rounded" src="TEMPLATE/img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
                    <div class="text-start ps-4">

                        <!-- Show Your Organization Info--> 
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Company: @Model.orgInfo.Name</span>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Address: @Model.orgInfo.Address</span>
                        @*<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Time...</span>*@
                        
                    </div>
                </div>


                <div class="mb-5">

                    <div class="col-12 col-sm-6">
                        <h4 class="mb-4">Opportunity Title</h4>
                        <input type="text" class="form-control" placeholder="Name" name="opptitle">
                    </div>

                    <h4 class="mb-3">Job description</h4>
                    <div class="col-12">
                            <textarea class="form-control" rows="5" placeholder="Enter a description..." name="oppdesc"></textarea>
                    </div>

                    <h4 class="mb-3">Responsibilities</h4>
                    <div class="col-12">
                            <textarea class="form-control" rows="5" placeholder="Enter responsibilities..." name="oppresp"></textarea>
                    </div>

                    <h4 class="mb-3">Requirements</h4>
                    <div class="col-12">
                            <textarea class="form-control" rows="5" placeholder="Enter requirements..." name="oppreq"></textarea>
                    </div>


                    <h4 class="mb-4">Time</h4>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Start Date..." name="oppstartdate">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control" placeholder="End Date..." name="oppenddate" >
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Time Start to End..." name="oppschedule">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="file" class="form-control bg-white">
                            </div>

                            <h4 class="mb-4">Pick your tags</h4>
                            <div class="col-12">
                                <textarea class="form-control" rows="5" placeholder="Tag" name="opptag"></textarea>
                            </div>

                            <div class="col-2"> 
                                <button class="btn btn-primary w-100" type="submit">Submit</button> 
                                <button class="btn btn-primary w-100" type="cancel">Cancel</button>
                            </div>
                            
                        </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summery</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: 01 Jan, 2045</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: 123 Position</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: Full Time</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: $123 - $456</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Location: New York, USA</p>
                    <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Date Line: 01 Jan, 2045</p>
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Company Detail</h4>
                        <p class="m-0"> @Model.orgInfo.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->

                
</form>

